<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8"/>
  <title>Statblock example</title>

  <link href='//fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic'
        rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Libre+Baskerville:700'
        rel='stylesheet' type='text/css'>

  <script type="module" src="statblock5e/src/js/stat-block.js"></script>
  <script type="module" src="statblock5e/src/js/creature-heading.js"></script>
  <script type="module" src="statblock5e/src/js/top-stats.js"></script>
  <script type="module" src="statblock5e/src/js/abilities-block.js"></script>
  <script type="module" src="statblock5e/src/js/property-line.js"></script>
  <script type="module" src="statblock5e/src/js/property-block.js"></script>

  <style>
    body {
      margin: 0;
    }

    stat-block {
      /* A bit of margin for presentation purposes, to show off the drop
      shadow. */
      margin-left: 20px;
      margin-top: 20px;
    }

    .description {
      margin: 20px;
      max-width: 420px;
    }

    .stat-block-wrapper {
      float: left;
    }
  </style>
</head>
<body>
  {{#each creatures}}
    {{> statblock}}
  {{/each}}
</body>
</html>
