<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8"/>
  <title>Statblock example</title>

  <link href='//fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic'
        rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Libre+Baskerville:700'
        rel='stylesheet' type='text/css'>
  <link href='styles/styles.css'
        rel='stylesheet' type='text/css'>

  <script type="module" src="statblock5e/src/js/stat-block.js"></script>
  <script type="module" src="statblock5e/src/js/creature-heading.js"></script>
  <script type="module" src="statblock5e/src/js/top-stats.js"></script>
  <script type="module" src="statblock5e/src/js/abilities-block.js"></script>
  <script type="module" src="statblock5e/src/js/property-line.js"></script>
  <script type="module" src="statblock5e/src/js/property-block.js"></script>
  <script src="js/require.js"></script>
  <script src="js/screenshot.js"></script>
</head>
<body>
  <div class="creature-wrapper">
    {{#each creatures}}
      <div class="screenshot-wrapper">
        <button id="screenshot-{{slug}}" type="button" class="screenshot-button" data-slug="{{slug}}">Screenshot</button>
        {{> statblock}}
      </div>
    {{/each}}
  </div>
</body>
</html>
